<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">

<!-- Bootstrapの設定 -->
<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
	  rel="stylesheet"></link>
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

<!-- CSSの読み込み -->
<link th:href="@{/cs/top.css}" rel="stylesheet"></link>

<title>調整屋</title>
</head>
<body>

<!-- =ヘッダ（navi）=  -->
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">イベント調整屋さん</a>
		</div>
	</div>
</nav>


<!-- =サイドバー= -->
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-2 sidebar">
			<ul class="nav nav-pills nav-stacked">
				<li role="presentation">
					<a th:href="@{'/eventSelect'}">イベントを探す</a>
				</li>
				<li role="presentation">
					<a th:href="@{'/eventRegister'}">イベントを作る</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<!-- =コンテンツ= -->
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 main">
			<div th:include="__${contents}__"></div>
		</div>
	</div>
</div>
</body>
</html>